.login {
  width: 410px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login h2 {
  font-size: 32px;
  color: #111;
  border-bottom: 2px solid #111;
  text-align: center;
  line-height: 1;
  padding: 0 0 20px;
}

/* li로 따로 패딩을 주는것보다 ul이 하나이기때문에 클래스 사용없이
바로 ul에 padding을 주는게 효율적임 */
.login > ul {
  padding: 40px 0 33px;
}

.login > ul li {
  padding: 0 0 12px;
  text-align: left;
}

.login > ul li input {
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  /* text-indent : 들여쓰기
     padding을 줘도 되고 text-indent를 줘도 무방
   */
  /* padding: 0 0 0 16px; */
  text-indent: 16px;
}

/* placeholder 선택자는 아래처럼 해야함 */
.login > ul li input::-webkit-input-placeholder {
  font-size: 16px;
  color: #9fa19f;
}

.login > ul li input[type="checkbox"] {
  position: absolute;
  left: -3000%;
}
.login > ul li input[type="checkbox"] + label {
  height: 36px;
  line-height: 36px;
}

/* 형제선택(체크박스 다음 label을 선택한다는 의미) */
.login > ul li input[type="checkbox"] + label::before {
  /* content 속성은 인라인 요소라서 가로,세로가 들어가지 않음 */
  content: "";
  /* display를 block으로 할 시에는 다음 label이 다음줄로 내려가기 때문에
  inline-block으로 떨어지지않고 가로세로가 들어가게끔 함 */
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #666;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

/* 체크되면 label의 before 스타일을 바꿈 */
.login > ul li input[type="checkbox"]:checked + label::before {
  background: url(../images/ico_check_on.png) no-repeat #333 center;
  border-color: #333;
}

.login button {
  width: 100%;
  height: 56px;
  background-color: #ed1c24;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.login div {
  padding: 0 0 45px;
}

/* ul display를 flex 후 center정렬을 해도되고
   li에 inline-block을 주고 ul에 text-aling을 줘도 무방 */
/* .login div ul {
  display: flex;
  justify-content: center;
} */

.login div ul {
  text-align: center;
}

.login div ul li {
  position: relative;
  display: inline-block;
  /* 가운데 정렬을 하려면 양쪽으로 패딩을 줘야함
  아니면 한쪽으로 치우치게 됨 */
  /* padding을 a요소에 주면 빈공간이 링크 클릭이 되기때문에
  li에 padding을 줘야함 */
  padding: 0 18px 0 18px;
}

/* 선을 생성하여 rotate로 회전하여 /를 구현 */
/* li ~ li : first child 를 제외한 나머지가 선택이 됨(li 사이) */
.login div ul li ~ li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  height: 14px;
  width: 1px;
  background: #111;
  transform: rotate(25deg);
}
.login div ul li a {
  font-size: 14px;
  color: #111;
}

.login > a {
  /* position: relative; */
  font-size: 14px;
  color: #666;
  /* border-bottom으로 아래 선을 만들어줘도 됨 */
  border-bottom: 1px solid #666;
}

/* a의 text-decoration을 사용하면 무조건 붙기때문에
밑줄을 띄우고 싶으면 after 를 사용해서 선을 직접 만들어야함*/
/* .login > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #666;
} */
