@charset "utf-8";
body {
  padding: 50px;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 820px;
  height: 833px;
  padding: 0 60px;
  box-sizing: border-box;
  border: 1px solid red;
}
